.footer {
    margin-top: auto;
    font-size: 16px;
    line-height: 1.2;
    color: $text-color-06;
    background-color: $beige;
    overflow: hidden;
}

.footer__container {
    padding-top: 40px;
    padding-bottom: 60px;
}
