.game__container {
    display: flex;
    align-items: flex-start;
    gap: 44px;
    padding-top: 64px;
    padding-bottom: 40px;

    @include breakpoint("S") {
        flex-wrap: wrap;
        gap: 8px;
    }

    @include breakpoint("XS") {
        padding-top: 21px;
    }
}

.game__img {
    position: relative;
    flex-shrink: 0;
    aspect-ratio: 473/527;
    width: 38.75%;
    max-width: 473px;

    @include breakpoint("S") {
        width: 100%;
        margin: 0 auto;
    }
}

.game__player {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -7.6%);
    width: 111.81%;
    max-width: none;

    @include breakpoint("XS") {
        position: relative;
        transform: translate(-50%, 0);
    }
}

.game__content {
    position: relative;
    z-index: 2;
    flex-grow: 1;
}

.game__text {
    margin-bottom: 60px;

    @include breakpoint("S") {
        margin-bottom: 28px;
    }
}

.game__table {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 1.2;

    @include breakpoint("S") {
        margin-bottom: 23px;
    }
}

.game__fn {
    color: $blue;
}
