.lecture {}

.lecture__container {
    padding-top: 107px;

    @include breakpoint("M") {
        padding-top: 100px;
    }

    @include breakpoint("S") {
        padding-top: 80px;
    }

    @include breakpoint("XS") {
        padding-top: 48px;
    }
}

.lecture__support {
    @include breakpoint("XS") {
        display: block;
        margin-bottom: 261px;
    }
}
