.participants__container {
    position: relative;
    padding-top: 160px;
    padding-bottom: 138px;

    @include breakpoint("M") {
        padding-top: 140px;
        padding-bottom: 120px;
    }

    @include breakpoint("S") {
        padding-top: 82px;
        padding-bottom: 100px;
    }
}

.participants__title {
    max-width: calc(100% - 200px);
    margin-bottom: 58px;

    @include breakpoint("S") {
        max-width: none;
        margin-bottom: 40px;
    }
}

.participants__slider {
    position: relative;

    & .swiper-wrapper {
        align-items: stretch;

        @include breakpoint("S") {
            margin-bottom: 40px;
        }
    }

    & .swiper-slide {
        height: auto;
    }
}

.participants__controls {
    position: absolute;
    bottom: calc(100% + 71px);
    right: 0;

    @include breakpoint("S") {
        position: static;
    }
}
